
<ion-list>
  <ion-radio-group>
    <ion-list-header>
      <ion-label>Seafood</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Salmon</ion-label>
      <ion-radio slot="start" value="salmon" checked></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Scallops</ion-label>
      <ion-radio slot="start" value="scallops"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Lobster</ion-label>
      <ion-radio slot="start" value="lobster"checked></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Oyster</ion-label>
      <ion-radio slot='start' value='oyster'></ion-radio>
    </ion-label>
  </ion-radio-group>
</ion-list>

<ion-list>
  <ion-radio-group>
    <ion-list-header>
      <ion-label>Meat</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Salame</ion-label>
      <ion-radio slot="start" value="salame" checked></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Proscuitto</ion-label>
      <ion-radio slot="start" value="proscuitto" checked></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Pepperoni</ion-label>
      <ion-radio slot="start" value="pepperoni"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Soppresata</ion-label>
      <ion-radio slot='start' value='soppresata'checked></ion-radio>
    </ion-label>
  </ion-radio-group>
</ion-list>

